<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201152150760-o355hejuese8uokuekg8tblmsntfrtd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201152150760-o355hejuese8uokuekg8tblmsntfrtd5</string>
	<key>API_KEY</key>
	<string>AIzaSyB9vXp8SSJPfacQyEV2GjnO-5b4RjYUOtM</string>
	<key>GCM_SENDER_ID</key>
	<string>201152150760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authPractice</string>
	<key>PROJECT_ID</key>
	<string>flutter-auth-46464</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-auth-46464.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201152150760:ios:19496e4f81e1354c831d5d</string>
</dict>
</plist>